{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{# hide header bar #}
{% set noHeader = false %}
{# hide header nav bar when scolling #}
{% set headerScrollHide = false %}
{# hide header bar and only show menu #}
{% set menuOnly = false %}
{# Inline menu text on Desktop #}
{% set menuInlineText = false %}
{# show header bar but hide menu #}
{% set noMenu = false %}
{# hide logo #}
{% set noLogo = false %}
{# hide recognition awards in footer #}
{% set recognition = true %}
{# sets menu in html/_data/global.json #}
{% set headerMenu = global.menu.page %}
{# set the header logo #}
{% set headerLogo = '../assets/images/logo.png' %}
{# Title tag in head of html markup #}
{% set title = "VMLY&R | Style Guide" %}

{% block content %}
  <article class="landing-home" id="top">
    <!-- Update Title -->

  </article>
{% endblock %}
