// ================================
// Components: Quote
// ================================

.quote__border {
  border: 1px solid var(--quoteBorder);
  border-width: 0 2px 2px;

  &::before,
  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 2px;
    background: var(--quoteBorder);
    display: block;
    width: 15%;
  }

  @include media('>=md') {
    &::before,
    &::after {
      width: 27%;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.quote__noHeading {
  &::before,
  &::after {
    width: 100%;
  }
}

.quote__copyContainer {
  padding-left: rem(20px);
  padding-right: rem(20px);
}

.quote__heading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(17px);
  text-transform: uppercase;
  font-weight: $font-700;
  color: var(--quoteHeadingText);

  svg {
    fill: var(--quoteHeadingIcon);
  }

  @include media('>=md') {
    font-size: rem(20px);
  }
}

.quote__text {
  font-size: rem(25px);
  font-weight: $font-700;

  @include media('>=md') {
    font-size: rem(31px);
    max-width: rem(780px);
    margin: 0 auto;
  }
}

.quote__copySm {
  font-size: rem(17px);

  @include media('>=md') {
    font-size: rem(20px);
  }
}
