// ================================
// Components: Scroll
// ================================

@keyframes fadeInDown {
  0% {
    opacity: 0;
    top: 0;
  }

  50% {
    opacity: 1;
    top: rem(20px);
  }

  100% {
    opacity: 0;
    top: 0;
  }
}

.scroll {
  display: none;
  z-index: 5;

  svg {
    fill: var(--scrollIcon);
  }

  .scroll__iconDark {
    svg {
      fill: var(--scrollIconDrk);
    }
  }

  .scroll__link {
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-name: fadeInDown;
    animation-timing-function: ease-in-out;
    line-height: 1;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      svg {
        fill: var(--scrollIconHover);
      }

      .scroll__iconDark {
        svg {
          fill: var(--scrollIconHoverDrk);
        }
      }
    }
  }

  @include media('>=md') {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: rem(10px);
    left: 50%;
    transform: translateX(-50%);
  }

  @include media('>=lg') {
    bottom: rem(20px);
  }
}
