// ================================
// Components: FAQ
// ================================

.silo {
  background-color: setcolor(blue);
  padding: rem(20px 10px); //130 0
  min-height: rem(380px);

  @include media('>=md') {
    min-height: rem(520px);
  }

  @include media('>=lg') {
    min-height: rem(440px);
  }

  .silo__top {
    min-height: rem(250px);

    @include media('>=md') {
      min-height: rem(380px);
    }

    @include media('>=lg') {
      min-height: rem(300px);
    }
  }

  .silo__title {
    color: var(--siloTitleColor);
    font-size: rem(20px);
  }

  .silo__text {
    color: var(--siloTextColor);
    font-size: rem(15px);
  }

  .silo__link {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--siloLinkColor);
  }

  .silo__hover {
    &:hover,
    &:active,
    &:focus {
      background-color: rgba(var(--siloHover), 0.3);

      .silo__link--light {
        font-weight: 700;
      }
    }
  }

  .silo__hr {
    max-width: rem(125px);
    border: 1px solid var(--siloHr);
    margin-left: auto;
    margin-right: auto;
  }
}

.silo__iconLink {
  width: 100%;
  max-width: 30px;
  left: 50%;
  transform: translateX(-50%);
}
