

<div class="contentStripes">
  {% if not alignRight %}
    <div class="row">
      <div class="col-12 md:col-3 mb-2 md:mb-0">
        {% if logo %}
          <div class="mb-2 contentStripes__logo">
            {% include "_components/figure.html" with {
              "picture": logo
            } %}
          </div>
        {% endif %}
        {% if title %}
          <h3 class="type-h6 font-bold mb-2 contentStripes__title">National Cattleman’s Beef Association</h3>
        {% endif %}
        {% if copy %}
          <p class="type-sm contentStripes__copy">Changing perception of beef through targeted messages delivered through a contemporary media mix</p>
        {% endif %}
      </div>
      <div class="col-12 md:col-9">
        {% if picture %}
          <div class="contentStripes__img">
            {% include "_components/figure.html" with {
              "picture": picture
            } %}
          </div>
        {% endif %}
        {% if video %}
          <div class="contentStripes__video">
            {% include "_components/video.html" with {
              "options": video.options,
              "embed": video.embed
            } %}
          </div>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-12 md:col-3 mb-2 md:mb-0 md:hide lg:hide xl:hide">
        {% if logo %}
          <div class="mb-2 contentStripes__logo">
            {% include "_components/figure.html" with {
              "picture": logo
            } %}
          </div>
        {% endif %}
        {% if title %}
          <h3 class="type-h6 font-bold mb-2 contentStripes__title">{{title}}</h3>
        {% endif %}
        {% if copy %}
          <p class="type-sm contentStripes__copy">{{copy}}</p>
        {% endif %}
      </div>
      <div class="col-12 md:col-9">
        {% if picture %}
          <div class="contentStripes__img">
            {% include "_components/figure.html" with {
              "picture": picture
            } %}
          </div>
        {% endif %}
        {% if video %}
          <div class="contentStripes__video">
            {% include "_components/video.html" with {
              "options": video.options,
              "embed": video.embed
            } %}
          </div>
        {% endif %}
      </div>
      <div class="col-12 md:col-3 mb-2 md:mb-0 xs:hide sm:hide">
        {% if logo %}
          <div class="mb-2 contentStripes__logo">
            {% include "_components/figure.html" with {
              "picture": logo
            } %}
          </div>
        {% endif %}
        {% if title %}
          <h3 class="type-h6 font-bold mb-2 contentStripes__title"></h3>
        {% endif %}
        {% if copy %}
          <p class="type-sm contentStripes__copy">{{copy}}</p>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
